* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  --bg-prim: #15c757;
  --text-prim: #000;
  --highlight: #15c7b0;
  --btn-prim: #40eb57;
  --btn-prim-hover: #51fc68;
  --scroll-bg: #000;
  --scrool-thumb: #a3a0a0;
  --spacing: 5px;
  --toggle-off: #d8d3d3;
  --toggle-on: #15c7b0;
}

body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: var(--text-prim);
  overflow: hidden;
  width: 100vw;
}

a {
  text-decoration: none;
  color: inherit;
}

.grow {
  flex-grow: 1;
}

.appbar-container {
  display: flex;
  width: 100vw;
  background-color: var(--bg-prim);
  padding: 0 10px;
  border-bottom: 1px solid black;
  align-items: center;
  height: 60px;
}

.title {
  font-size: 1.75rem;
}

nav p {
  text-transform: uppercase;
}

nav li {
  list-style: none;
}

.signup-container,
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.signup-form,
.login-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: var(--bg-prim);
  border-radius: 15px;
  width: 300px;
  gap: 5px;
}

.signup-form h3,
.login-form h3 {
  text-align: center;
}

.signup-form button,
.login-form button {
  width: fit-content;
  border-radius: 10px;
  padding: 5px;
  align-self: center;
}

.signup-form button:hover,
.login-form button:hover {
  background-color: var(--highlight);
}

nav ol {
  display: flex;
  gap: 10px;
}

.btn {
  border: #000 1px solid;
  border-radius: 8px;
  padding: 5px;
  background-color: var(--btn-prim);
  text-align: center;
}

.btn:hover {
  background-color: var(--btn-prim-hover);
}

.admin-container {
  width: 100%;
}

.admin-btn-bar {
  margin: auto;
  width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.files-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  user-select: none;
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}

.incoming-btn-container {
  display: flex;
  gap: var(--spacing);
  padding: 5px;
}

.video-card {
  width: auto;
  border: 1px solid var(--highlight);
  overflow: hidden;
  border-radius: 10px;
}

.video-card-container {
  width: 100vw;
  display: grid;
  gap: 5px;
  grid-template-columns: auto;
  padding: 5px;
}

@media all and (min-width: 600px) {
  .video-card-container {
    grid-template-columns: auto auto;
  }
}

@media all and (min-width: 960px) {
  .video-card-container {
    grid-template-columns: auto auto auto;
  }
}

@media all and (min-width: 1440px) {
  .video-card-container {
    grid-template-columns: auto auto auto auto;
  }
}

.video-card img {
  width: 120%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left(-50%);
}

.video-card-img-wrapper {
  height: 300px;
  display: block;
  overflow: hidden;
}

.home-outlet {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  width: 100vw;
  position: relative;
}

*::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: var(--scroll-bg); /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  height: 10px;
  background-color: var(--scrool-thumb); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.video-container {
  display: flex;
  flex-direction: column;
}

.video-player-container {
  display: flex;
  flex-direction: column;
  background-color: #000;
}

video {
  align-self: center;
  max-width: 100%;
}

@media all and (min-width: 960px) {
  video {
    max-width: 70%;
  }
}

.pagination-container {
  display: flex;
  gap: 3px;
  padding: 5px;
}

.pagination-container button {
  width: 30px;
  border-radius: 15%;
  user-select: none;
}
.pagination-container button.active {
  background-color: var(--highlight);
}

.pagination-container button:hover {
  background-color: var(--btn-prim-hover);
}

/* toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height:22px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
  
}

input:checked + .slider {
  background-color: var(--highlight);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--highlight);
}

input:checked + .slider:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
}

.order-container { 
   width: 130px;
  padding: 5px;
 }


/* TOGGLE*/
.toggle-container {
  display: flex;
  align-items: center;
}

.toggle {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  height: 25px;
  background-color: var(--toggle-off);
  border-radius: 34px;
  width: 40px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;

}

.toggler {
  cursor: pointer;  
  -webkit-transition: .4s;
  transition: .4s;
}


.toggler::before {
  position: absolute;
  content: "";
  transition: .4s;
  height:15px;
  width: 15px;
  left: 5px;
  bottom: 5px;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  background-color: #15c757;
}

input:checked + .toggler {
  
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--highlight);
}

input:checked + .toggler:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* END TOGGLE*/

.modal {
  position: absolute;
  top: 0;
  border-radius: 10px;
}

.chip {
  border: 1px solid black;
  width: fit-content;
  padding:3px 5px;
  border-radius: 30px;
  background-color: var(--btn-prim);
}

.chip:hover {
  background-color: var(--btn-prim-hover);
}

.chip-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}