* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  --bg-prim: #15c757;
  --bg-highlight: #398154;
  --text-prim: #000;
  --text-highlight: #888;
  --highlight: #15c7b0;
  --btn-prim: #40eb57;
  --btn-prim-hover: #51fc68;
  --scroll-bg: #000;
  --scrool-thumb: #a3a0a0;
  --spacing: 5px;
  --toggle-off: #d8d3d3;
  --toggle-on: #15c7b0;
  --input-radius: 15px;
  --border-color1: black;
  --card-highlight: #d4d3d3;
  --info-panel: #b0e7c4;
  --border-radius: 10px;
}

body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: var(--text-prim);
  overflow-y: auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.grow {
  flex-grow: 1;
}

.flex-container-center {
  padding: var(--spacing);
  display: flex;
  justify-content: center;
}

/* App bar component */

.appbar-container {
  display: flex;
  width: 100vw;
  background-color: var(--bg-prim);
  border-bottom: 1px solid black;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.appbar-inner-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  font-size: 1.75rem;
  margin: 0;
}

nav p {
  text-transform: uppercase;
}

nav li {
  list-style: none;
}

.signup-container,
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.signup-form,
.login-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: var(--bg-prim);
  border-radius: 15px;
  width: 300px;
  gap: 5px;
}

.signup-form h3,
.login-form h3 {
  text-align: center;
}

.signup-form button,
.login-form button {
  width: fit-content;
  border-radius: 10px;
  padding: 5px;
  align-self: center;
}

.signup-form button:hover,
.login-form button:hover {
  background-color: var(--highlight);
}

nav ol {
  display: flex;
  gap: 10px;
}

.btn {
  border: #000 1px solid;
  border-radius: var(--border-radius);
  padding: 5px;
  background-color: var(--btn-prim);
  text-align: center;
  font-weight: bold;
}

.btn-sm {
  font-size: smaller;
  padding: 2px 3px;
}

.btn:hover {
  background-color: var(--btn-prim-hover);
}

.admin-container {
  width: 100%;
}

.admin-btn-bar {
  margin: auto;
  width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.files-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  user-select: none;
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}

.incoming-btn-container {
  display: flex;
  gap: var(--spacing);
  padding: 5px;
}

/* Video Card styles */

.video-card-container {
  width: 100vw;
  display: grid;
  gap: 10px;
  row-gap: 20px;
  grid-template-columns: 1fr;
  padding: 5px 15px;
}

@media all and (min-width: 600px) {
  .video-card-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (min-width: 780px) {
  .video-card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media all and (min-width: 960px) {
  .video-card-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media all and (min-width: 1440px) {
  .video-card-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.video-card {
  width: auto;
  overflow: hidden;
  border-radius: 10px;
}

.video-card img {
  position: absolute;
  width: 110%;
  height: 110%;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  bottom: 50%;
}

.video-card-img-wrapper {
  height: 200px;
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.video-card-details {
  display: flex;
  flex-direction: column;
  word-break: break-word;
  padding: var(--spacing);
}

.video-card-duration-container {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 5px;
}

.duration-txt {
  opacity: 0.7;
  color: white;
}

.flex {
  display: flex;
}

.inline {
  display: inline;
}

.home-outlet {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: relative;
}

*::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: var(--scroll-bg); /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  height: 10px;
  background-color: var(--scrool-thumb); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.search-input,
.text-input {
  border: 1px solid black;
  outline: none;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 25px;
}

.pagination-container {
  display: flex;
  gap: 3px;
  padding: 5px;
}

.pagination-container button {
  min-width: 30px;
  width: fit-content;
  border-radius: 15%;
  user-select: none;
}
.pagination-container button.active {
  background-color: var(--highlight);
}

.pagination-container button:hover {
  background-color: var(--btn-prim-hover);
}

/* toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 22px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--highlight);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--highlight);
}

input:checked + .slider:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
}

.order-container {
  width: 140px;
  padding: 5px;
}

/* TOGGLE*/
.toggle-container {
  display: flex;
  align-items: center;
  width: fit-content;
}

.toggle {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  height: 25px;
  background-color: var(--toggle-off);
  border-radius: 34px;
  width: 40px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggler {
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggler::before {
  position: absolute;
  content: "";
  transition: 0.4s;
  height: 15px;
  width: 15px;
  left: 5px;
  bottom: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
  background-color: #15c757;
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--highlight);
}

input:checked + .toggler:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

.centerpoint {
  top: 150px;
  left: 50%;
  position: absolute;
}

.rating-star {
  color: orange;
  font-size: 1rem;
}

.rating-star-btn-on {
  color: orange;
  border: none;
  background-color: unset;
  font-size: 1rem;
}

.rating-star-btn-off {
  color: black;
  border: none;
  background-color: unset;
  font-size: 1rem;
}

.rating-selector {
  display: inline-flex;
  align-items: baseline;
}

.modal {
  position: absolute;
  border-radius: 10px;
  width: 225px;
  margin-left: -112px;
  height: 130px;
  margin-top: -120px;
  z-index: 20;
}

.modal-container,
.modal-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  width: 100%;
}

.modal-form input {
  width: 100%;
}

.chip {
  border: 1px solid black;
  width: fit-content;
  padding: 3px 5px;
  border-radius: 10px;
  background-color: var(--btn-prim);
  font-weight: bold;
}

.span-chip {
  border: none;
  background-color: inherit;
}

.chip:hover {
  background-color: var(--btn-prim-hover);
}

.chip-sm {
  border: 1px solid black;
  width: fit-content;
  padding: 3px 5px;
  border-radius: 10px;
  background-color: var(--btn-prim);
  font-weight: bold;
  font-size: 0.75rem;
  cursor: pointer;
}

.chip-sm.hover:hover {
  background-color: var(--btn-prim-hover);
}

.chip-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px;
}

.toggle-bar {
  display: grid;
  grid-template-columns: repeat(5, 130px);
}

.toggle-container span.active {
  color: var(--highlight);
  text-decoration: underline;
}

.flexer3 {
  display: flex;
  gap: 3px;
  padding: 15px;
}

.video-details {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 2px;
}

@media (max-width: 580px) {
  .video-details {
    grid-template-columns: 1fr 1fr;
  }
  .toggle-bar {
    grid-template-columns: 1fr 1fr;
  }
}

.video-details span {
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  padding: 0px 5px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 10px;
  padding: 5px;
  align-items: center;
  align-self: center;
}

.file-names {
  display: flex;
  flex-direction: column;
  padding: 5px;
  flex-wrap: wrap;
}

/* Videos page  */

.videos-container {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.videos-spacer {
  height: 40px;
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
}

.edit-container {
  display: flex;
  padding: 5px;
  align-items: center;
  border: 1px solid black;
  margin: 5px;
  gap: 5px;
}

.btn-bar {
  padding: var(--spacing);
  display: flex;
  gap: 5px;
  justify-content: center;
}

.half-text {
  font-size: 0.75rem;
}

.admin-search {
  width: 100%;
  padding: 5px;
}

.edit-modal > div {
  height: fit-content;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: var(--spacing);
}

.edit-modal::backdrop {
  opacity: 50%;
  background-color: black;
}

.edit-modal {
  margin-top: 80px;
  border-radius: var(--input-radius);
}

/* Playlist modal */

.playlist-modal {
  max-height: 500px;
  min-height: fit-content;
  margin-top: 70px;
  border: 1px solid black;
}

.playlist-modal::backdrop {
  background-color: gray;
  opacity: 60%;
}

.playlist-modal .playlist-item {
  display: flex;
  padding: 2.5px 0;
}

.playlist-item > * {
  margin: 0 5px;
}

.playlist-modal .create-input {
  display: flex;
  gap: var(--spacing);
  padding: 10px 0;
}

/* Flex quick classes */

.center-items {
  display: flex;
  gap: var(--spacing);
  justify-content: center;
}

/* playlists */
.playlist-card-container {
  padding: 5px;
  display: grid;
  gap: var(--spacing);
  row-gap: calc(var(--spacing) * 2);
}

@media only screen and (max-width: 500px) {
  .playlist-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 500px) {
  .playlist-card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1000px) {
  .playlist-card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 1250px) {
  .playlist-card-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media only screen and (min-width: 1500px) {
  .playlist-card-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

.playlist-card {
  border-radius: 10px;
  overflow: hidden;
}

.playlist-card-img-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
}

.playlist-card-img-container img {
  height: 200px;
}
.playlist-card-img-container img:hover {
  opacity: 0.2;
}

#playall-text {
  color: var(--text-prim);
  opacity: 0;
}

img:has(~ #playall-text:hover) {
  opacity: 0.2;
}

.playlist-card-img-container:hover > #playall-text {
  opacity: 1;
  color: var(--text-prim);
}

/* opactiy */

.opac-1:hover {
  opacity: 50%;
}

/* Text classes */

.txt-bold {
  font-weight: bold;
}

.txt-tiny {
  font-size: xx-small;
}
.txt-sm {
  font-size: small;
}

.txt-md {
  font-size: medium;
}

.txt-lg {
  font-size: large;
}

.txt-cen {
  text-align: center;
}

.txt-hover:hover {
  color: var(--text-highlight);
}

/* Width */

.w-full {
  width: 100%;
}

/* position */
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.bot-10 {
  bottom: 10px;
}
.r-10 {
  right: 10px;
}

/* Displays */

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.block {
  display: block;
}

/* flex controls */

.flex-cen {
  justify-content: center;
}

/* paddings */

.p1 {
  padding: 1px;
}
.p2 {
  padding: 2px;
}
.p5 {
  padding: 5px;
}
.p10 {
  padding: 10px;
}

/*  backgrounds */

.bg1 {
  background-color: var(--bg-highlight);
}

/* borders */

.border1 {
  border: 1px solid var(--border-color1);
}

/* cursors */

.pointer {
  cursor: pointer;
}

.cursor-def {
  cursor: default;
}

.cursor-pass {
  pointer-events: none;
}

/* Playlist view */

.playlist-info-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.playlist-titlecard-container {
  display: flex;

  gap: var(--spacing);
  margin: auto;
}

.playlist-titlecard-img {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
}

.playlist-titlecard-img img {
  height: 200px;
}

.playlist-entrycard-img {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  width: 100px;
  background-color: #000;
}

.playlist-entrycard-img img {
  height: 75px;
}

.playlist-container {
  margin: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.playlist-items-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.playlist-entry-container {
  display: flex;
  border-radius: 15px;
  padding: 5px;
}

.playlist-entry-container:hover {
  background-color: lightgray;
}

.burger-handle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 5px;
  cursor: grab;
}

.burger-handle span {
  height: 5px;
  width: 20px;
  border-top: 2px solid black;
}

.playlist-entry-info {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

/* video page */

.queue-item-info-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.video-container {
  display: grid;
  grid-template-columns: 1fr 425px;
  grid-template-rows: 1fr;
}

@media only screen and (max-width: 960px) {
  .video-container {
    display: flex;
    flex-direction: column;
  }
}

.video-info-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: var(--border-radius);
  background-color: var(--info-panel);
  width: 100%;
}

.video-player-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-height: 800px;
  align-items: flex-start;
  gap: 5px;
}

video {
  border-radius: 10px;
  overflow: hidden;
  background-color: black;
  max-width: 100%;
  width: 100%;
}

.video-title {
  text-wrap: wrap;
  word-break: break-all;
}

.video-queue-item-card {
  text-wrap: wrap;
  word-break: break-all;
  display: grid;
  grid-template-columns: 210px 1fr;
  gap: 10px;
  border-radius: 10px;
}

.active-queue-item {
  background-color: var(--card-highlight);
}

.video-queue-item-card img {
  position: absolute;
  width: 110%;
  height: 110%;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  bottom: 50%;
}

.video-queue-item-img-wrapper {
  height: 100px;
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  width: 210px;
}

.video-queue-items-container {
  padding: 5px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.tag-list:not(:nth-last-child(2)):after,
.person-list:not(:nth-last-child(2)):after {
  content: ", ";
}

.info-chip input {
  padding: 0px;
  text-decoration: underline;
}
